{%- liquid
  assign show_sidebar = true
  assign total_tags = 0

  if section.settings.enable_sidebar == false or collection.filters.size == 0
    assign show_sidebar = false
  endif
-%}





<div
  id="CollectionAjaxResult"
  class="collection-content"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-collection-template="true"
>
  
  <div id="CollectionAjaxContent">
    
    {%- paginate collection.products by paginate_by -%}
    
    {%- liquid
        assign paginate_by = 40

        assign current_filter_size = 0
        for filter in collection.filters
          assign current_filter_size = current_filter_size | plus: filter.active_values.size
        endfor
      -%}

    {%assign subcollections = false%}
    {%- for block in section.blocks -%}
    {%- if block.type == 'subcollections'-%}

    {%- if paginate.current_page == 1 and current_filter_size == 0 -%}
    <div {{ block.shopify_attributes }}>
      {%- render 'subcollections' -%}
    </div>
    {%- endif -%}

    
    {%assign subcollections = true%}
    {%- endif -%}
    {%- endfor -%}
    
    <div class="page-width">
      {%- liquid
        assign paginate_by = 40

        assign current_filter_size = 0
        for filter in collection.filters
          assign current_filter_size = current_filter_size | plus: filter.active_values.size
        endfor
      -%}


      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
         {%comment%}
          {%- render 'collection-grid-filters',
            collection: collection,
            enable_sidebar: section.settings.enable_sidebar,
            enable_color_swatches: section.settings.enable_color_swatches,
            tags_combine: section.settings.tags_combine,
            enable_sort: section.settings.enable_sort,
            collapse_filters: section.settings.collapse_filters
          -%}
          {%endcomment%}
          
          {% include 'tag_side_bar' %}
          
        </div>
        
        
        
        <div class="grid__item medium-up--four-fifths grid__item--content">

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'collection_description' -%}
              {%- if collection.description != blank and current_filter_size == 0 -%}
              <div class="rte rte--collection-desc" {{ block.shopify_attributes }}>
                  <div class="enlarge-text">
                    {{ collection.description }}
                  </div>
                </div>
              {%- endif -%}

            {%- when 'product_grid' -%}
          
          {%if subcollections%}
          {% assign show_at_ri = collection.metafields.airf.show_at_ri %}
          {% if show_at_ri == "true" %}
          {% render 'sub_collection' %}
          {% endif %}
          {% endif %}

              <div {{ block.shopify_attributes }}>
                {%- render 'collection-grid'
                  collection: collection,
                  items: collection.products,
                  grid_style: block.settings.grid_style,
                  quick_shop_enable: settings.quick_shop_enable
                -%}
              </div>


            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}

    </div>
    
          {%- endpaginate -%}
  </div>
</div>

{%- if show_sidebar == false -%}
  {% comment %}
    Disable sidebar & filter features
  {% endcomment %}
  {%- style -%}
    .collection-content .grid__item--sidebar {
      display: none;
    }
    .collection-content .grid__item--content {
      width: 100% !important;
    }
  {%- endstyle -%}
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>

{% schema %}
{
  "name": "t:sections.main-collection.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header_filtering_and_sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "t:sections.main-collection.settings.enable_sidebar.label",
      "default": true,
      "info": "t:sections.main-collection.settings.enable_sidebar.info"
    },
    {
      "type": "checkbox",
      "id": "collapse_filters",
      "label": "t:sections.main-collection.settings.collapse_filters.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatches",
      "label": "t:sections.main-collection.settings.enable_color_swatches.label",
      "info": "t:sections.main-collection.settings.enable_color_swatches.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sort",
      "label": "t:sections.main-collection.settings.enable_sort.label",
      "default": true
    },
      {
        "type": "checkbox",
        "id": "tags_combine",
        "label": "Enable tag combinations"
      }
  ],
  "blocks": [
    {
      "type": "collection_description",
      "name": "t:sections.main-collection.blocks.collection_description.name",
      "limit": 1
    },
    {
      "type": "product_grid",
      "name": "t:sections.main-collection.blocks.products.name",
      "settings": [
        {
          "type": "select",
          "id": "grid_style",
          "label": "t:sections.main-collection.blocks.products.settings.grid_style.label",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.large.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.small.label"
            },
            {
              "value": "list",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.list.label"
            }
          ]
        }
      ],
      "limit": 1
    },
    {
      "type": "subcollections",
      "name": "t:sections.main-collection.blocks.subcollections.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-collection.blocks.subcollections.settings.content"
        }
      ],
      "limit": 1
    },
 {
        "type": "tags_group",
        "name": "Tag group",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Tag Group"
          },
          {
            "type": "textarea",
            "id": "tag_list",
            "label": "Tag list (one per line)",
            "default": "First tag \nSecond tag \nThird tag",
            "info": "Your tag group will only be shown if the current collection contains one of the listed tags. Tags are case sensitive and must match your product tag exactly. [Learn more](https://archetypethemes.co/blogs/expanse/how-should-i-organize-my-products-and-filters)."
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "color_group",
        "name": "Color swatches",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Color"
          },
          {
            "type": "textarea",
            "id": "tag_list",
            "label": "Swatch list (one per line)",
            "default": "Burgundy \nHeather grey \nGreen",
            "info": "Products must be tagged with their color in order to appear here. Tags are case sensitive and must match your product tag exactly. Ex: 'Heather grey'. [Learn how to set up swatches](https://archetypethemes.co/blogs/expanse/how-do-i-set-up-color-swatches)."
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "tags_all",
        "name": "All tags",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Tags"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "main-menu"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      }
  ]
}
{% endschema %}
